<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OCR labeling tool</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="body">
    <div >
        <img src="{{ url_for('static', filename='ocr_images/') }}{{ photo }}" alt="{{text}}" class="center">
    </div>
    <form action="{{url_for('action')}}" method="post" autocomplete="off" enctype="multipart/form-data">
        <div id="inputs-container" style="width:60%" class="center">
            <input type="checkbox" id="plate-usual" name="plate-usual"><label for="plate-usual">Plate</label><br>
            <label style="margin:3px 5px; font-family: monospace;" for="text_01">Text:</label>
            <input type="text" id="text_01" name="text_01" value={{text_01}} minlength="1" maxlength="25" style="width:35%">
            <input type="text" id="text_02" name="text_02" value={{text_02}} minlength="1" maxlength="1" style="display:none">
            <input type="text" id="text_03" name="text_03" value={{text_03}} minlength="5" maxlength="5" style="display:none">
            <input type="submit" id="save" name="action" value="Save">
            <input type="submit" id="skip" name="action" value="Skip">
            <label style="margin:3px 5px; font-family: monospace;" for="jump">Jump to:</label>
            <input type="text" id="jump" name="jump_index" placeholder="Jump to index" style="width:5%">
            <input type="submit" name="action" value="Jump">

        </div>
    </form>
</body>
<script>
    //submit form when 'Enter' key is pressed while in body
    //document.getElementById("body").addEventListener("keyup", function (event) {
    //    if (event.keyCode === 32) {
    //        document.getElementById("skip").click();
    //    }
    //});
    document.getElementById("plate-usual").onchange = function() {
        if (this.checked)
        {
            document.getElementById("text_01").style.display = "inline";
            document.getElementById("text_01").style.width = "10%";
            document.getElementById("text_01").minLength = "2";
            document.getElementById("text_01").maxLength = "2";

            document.getElementById("text_02").style.display = "inline";
            document.getElementById("text_03").style.display = "inline";

        }
        else
        {
            document.getElementById("text_01").style.width = "35%";
            document.getElementById("text_01").minLength = "1";
            document.getElementById("text_01").maxLength = "25";

            document.getElementById("text_02").style.display = "none";
            document.getElementById("text_03").style.display = "none";
        }
    }
</script>

</html>